.viewer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
    position: relative;
}

.gif-item {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    cursor: pointer;
}

.gif-item video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.expanded {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

.expanded video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.distorted-background {
    filter: blur(5px);
    pointer-events: none;
}

.error-viewer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.error-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
}